.title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 2rem;
}

.content {
  transition: all 300ms ease-in-out;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
}

.content[data-show='true'] {
  max-height: 600px;
  opacity: 1;
}
